<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>

Options +FollowSymLinks 
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /api/2.0/api.php [L]
